<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      a.wrong{
        color:#FF0000;
      }
      a.correct{
        color: #00FF00;
      }
    </style>
  </head>

  <body>
    <div style="position:absolute;bottom:0;right:0;">
      v<%= htmlWebpackPlugin.options.version %>
    </div>
    <div id="game"></div>
    <div>M: Mute, P: Pause, Droite: Relaxé, Gauche:Non Relaxé</div>
    <div id="logs"></div>
    <div>
      Reste à faire:
      <ul>
        <li>scaling</li>
        <li>Rendre jolie la page web du jeu</li>
        <li>les remerciements</li>
        <li>contact pour retirer un bureau si besoin</li>
      </ul>
    </div>
  </body>
</html>
